<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>Database</param-name>
        <param-value>alphacab</param-value>
    </context-param>
    <context-param>
        <param-name>vendor</param-name>
        <param-value>mysql</param-value>
    </context-param>
    <context-param>
        <param-name>table</param-name>
        <param-value>drivers</param-value>
    </context-param>
    <context-param>
        <param-name>offPass</param-name>
        <param-value>cheese</param-value>
    </context-param>
    <context-param>
        <param-name>fiveCost</param-name>
        <param-value>7</param-value>
    </context-param>
    <context-param>
        <param-name>tenCost</param-name>
        <param-value>12</param-value>
    </context-param>
    <listener>
        <listener-class>com.DBConnetListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DB Servlet</servlet-name>
        <servlet-class>com.DBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OffValidate</servlet-name>
        <servlet-class>com.OffValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverValidate</servlet-name>
        <servlet-class>com.DriverValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>driverAdd</servlet-name>
        <servlet-class>com.driverAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverDel</servlet-name>
        <servlet-class>com.DriverDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demandAdd</servlet-name>
        <servlet-class>com.demandAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>driverAssign</servlet-name>
        <servlet-class>com.driverAssign</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DB Servlet</servlet-name>
        <url-pattern>/DBService.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OffValidate</servlet-name>
        <url-pattern>/OffValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverValidate</servlet-name>
        <url-pattern>/DriverValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>driverAdd</servlet-name>
        <url-pattern>/driverAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverDel</servlet-name>
        <url-pattern>/DriverDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demandAdd</servlet-name>
        <url-pattern>/demandAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>driverAssign</servlet-name>
        <url-pattern>/driverAssign</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
